<p id="notice"><%= notice %></p>

<h1>Listing Blog Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Blog post</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <div class="row">
    <% @blog_posts.each do |blog_post| %>
    <div class = "col-md-6">
      <div class = "panel panel-class">
      <div class = "panel-heading">
        <p><%= blog_post.title %></p>
      </div>
      <div class = "panel-body">
        <p><%= blog_post.author %></p>
        <p><%= blog_post.blog_post %></p>
      </div>
        <p><%= link_to 'Show', blog_post %></p>
        <p><%= link_to 'Edit', edit_blog_post_path(blog_post) %></p>
        <p><%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %></p>

      </div>

    <% end %>
  </div>
</table>

<br>

<%= link_to 'New Blog post', new_blog_post_path %>
